doctype html
html
    head
        title #{first_name} #{last_name}
        style
          include style.css
    body
        include ./header.pug
        div.container
            h1 Witaj w google!
            h3 #{first_name}
            h3 #{last_name}
            